html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6d6027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d3cbb8,
    #6d6027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d3cbb8,
    #6d6027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  /* margin-top: 50px; */
  position: relative;
}
.gameBtns {
  position: relative;
  z-index: 8;
  margin: 0;
  padding: 0;
  /* width: 20vw;
    height: 20vw; */
  /* display:flex; */
}

.gameBtns div button {
  height: 300px;
  width: 300px;
  border: 5px solid #414142;
  text-decoration: none;
}
.gameBtns #r {
  background-color: #ff4341;
  border-radius: 0 290px 0 0;
  border-top: 10px solid #414142;
  border-right: 10px solid #414142;
}
.gameBtns #b {
  background-color: #434ae8;
  border-radius: 0 0 290px 0;
  border-right: 10px solid #414142;
  border-bottom: 10px solid #414142;
}
.gameBtns #y {
  background-color: #e8ca41;
  border-radius: 0 0 0 290px;
  border-bottom: 10px solid #414142;
  border-left: 10px solid #414142;
  float: left;
}
.gameBtns #g {
  background-color: #27ff74;
  border-radius: 290px 0 0 0;
  border-top: 10px solid #414142;
  border-left: 10px solid #414142;
  float: left;
}

.btnOn {
  transition: opacity 0.5s;
  opacity: 0.5;
}

.cntrl-pnl {
  position: absolute;
  left: 140px;
  top: 140px;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background-color: white;
  border: 10px solid #414142;
  z-index: 10;
}
